---
version: "2.1"
services:
  ombi:
    image: ghcr.io/linuxserver/ombi
    container_name: ombi
    networks: 
      - swagnet
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
      # - BASE_URL=/ombi #optional
    volumes:
      - /home/max/docker-containers-conf/ombi:/config
    ports:
      - 3579:3579
    restart: unless-stopped
networks:
  swagnet:
    external: true