---
version: "2.1"
services:
  jellyfin:
    image: ghcr.io/linuxserver/jellyfin
    container_name: jellyfin
    networks: 
      - swagnet
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
      - JELLYFIN_PublishedServerUrl=192.168.1.10
    volumes:
      - /home/max/docker-containers-conf/jellyfin:/config
      - /export/raid5/seedbox/downloaded:/data
    ports:
      - 8096:8096
      - 7359:7359/udp
      - 1900:1900/udp
    restart: unless-stopped
networks:
  swagnet:
    external: true